---
import BaseLayout from '../layouts/BaseLayout.astro';
import TopBar from '../components/TopBar.astro';
---
<BaseLayout title="Giacomo Castello — Senior Advertising & Martech Manager">
  <TopBar slot="topbar" path="~/cv" />
  <p>hello from topbar</p>
</BaseLayout>
